.portfolioRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  height: fit-content;
}
.subTitle {
  &.portfolioTitle {
    width: 84%;
    margin:60px auto 0 auto;
    height: fit-content;
  }
}

.portfolioList {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: flex-start;
  margin-bottom: 60px;
  height: fit-content;
  &:last-of-type{
    min-height: calc(100vh - 701px);

  }
}
.portfolioFilter {
  margin-bottom: 35px;
  margin-top: 90px;
  > * {
    width: 330px;
    height: 50px;
    .ant-select-selector {
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.2) !important;
      background: #0a0a0b !important;
    }
    .ant-select-selector,
    .ant-select-selection-placeholder {
      color: #fff !important;
      font-family: "Sui Generis" !important;
      font-size: 17px !important;
      font-style: normal;
      font-weight: 400 !important;
      line-height: normal;
    }
    &.ant-select-open {
      .ant-select-selector {
        background: #ffff73 !important;
      }
      .ant-select-selector,
      .ant-select-selection-placeholder {
        color: #000 !important;
      }
    }
  }
}
.portfolio-drop{
  color: #000;
font-family: "Sui Generis";
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
background: #FFFF73;
}

@media screen and (min-width :1470px){

.portfolioList {
  width: 1410px;
}
}

@media screen and (max-width :1470px) and (min-width :1110px){
  
.portfolioList {
  width: 1050px;
}
}


@media screen and (max-width :1110px) and (min-width:750px){
  
.portfolioList {
  width: 690px;
}
}


@media screen and (max-width :750px) {
  
.portfolioList {
  width: 330px;
}
}