.subTitle {
  &.profile {
    width: 84%;
    margin: auto;
    margin-bottom: 63px;
  }
}
.caseCard {
  width: 330px;
  box-sizing: border-box;
  height: 421px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #030303;
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  &:hover {
    filter: contrast(0.3);
  }
}
.profileRow {
  background: #000;
  width: 100%;
  align-self: center;
  margin: 0;
  display: flex;
  height: fit-content;
  position: relative;

  .profileList {
    width: 100%;
    padding: 60px 0 157px 0;
    display: flex;
    gap: 24px;
    justify-content: center;
    position: relative;
    &.left {
      align-items: center;
    }
  }
  .profileColumn {
    display: flex;
    flex-direction: column;
    gap: 21px;
    width: fit-content;
    height: inherit;
    position: relative;
    &:nth-of-type(2) {
      padding-top: 100px;
    }
    .caseCardMore {
      display: none;
    }
  }
}

@media screen and (max-width: 1400px) {
  .profileList {
    &.left {
      display: none;
    }
    .profileColumn .caseCardMore {
      display: block;
    }
  }
}
.caseCardMore {
  position: relative;
  height: fit-content;
  .up {
    width: 330px;
    height: 453.75px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #ffff73;
    backdrop-filter: blur(2px);
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    &:hover {
      filter: sepia(1);
    }
    .upText {
      color: #000;
      font-family: "Sui Generis";
      font-size: 33px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%; /* 46.2px */
      padding: 30px 30px 0 30px;
    }
    .downText {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-top: solid 1px #000;
      p {
        color: #000;
        font-family: "Sui Generis";
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 32.2px */
        padding-left: 18px;
      }
      svg {
        padding-right: 17px;
        align-self: center;
      }
    }
  }
  .down {
    border-radius: 10px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
    width: 330px;
    height: 453.75px;
    flex-shrink: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 0;
  }
}
.more {
  background: yellow;
  z-index: 20;
  position: relative;
}
.profileBg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%) blur(1px);
  opacity: 0.3;
  z-index: 0;
  background-image: url(/images/portfolioBg.jpg);
}
.caseCard {
  .seed {
    color: #000;
    text-align: center;
    font-family: "Sui Generis";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 69.3px;
    height: 24.75px;
    padding: 5px 17px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #fff;
    margin: 24px;
    align-self: flex-start;
  }
  .icon {
    width: 123.75px;
    height: 123.75px;
    flex-shrink: 0;
    border-radius: 123.75px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 37.77px;
  }
  .name {
    color: #fff;
    text-align: center;
    font-family: "Sui Generis";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 56px */
    margin-top: 28.22px;
  }
  .dec {
    color: #fff;
    text-align: center;
    font-family: DungGeunMo;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 32.2px */
    margin-top: -10px;
  }
  .link {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    border-top: solid 1px rgba(255, 255, 255, 0.2);
  }
  .link > div:first-child {
    color: #fff;
    font-family: "Sui Generis";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 32.2px */
    margin: 13px 20px;
  }
  .link svg {
    align-self: center;
    margin-right: 16px;
  }
}

@media screen and (max-width: 800px) {
  .subTitle {
    &.profile {
      margin-bottom: 30px;
    }
  }
  .profileRow {
    .caseCard {
      width: 100%;
      aspect-ratio: 330 / 421;
      border-radius: 3%;
      height: unset;
    }
    .profileList {
      padding: 30px 0 78px 0;
      gap: 12px;
    }
    .profileColumn {
      gap: 21px;
      width: 40%;
      &:nth-of-type(2) {
        padding-top: 100px;
      }
    }
    .caseCardMore {
      .up {
        width: 100%;
        aspect-ratio: 330 / 421;
        height: unset;
        border-radius: 3%;
        .upText {
          font-size: 16px;
          padding: 15px 15px 0 15px;
        }
        .downText {
          p {
            font-size: 12px;
            padding-left: 9px;
          }
          svg {
            padding-right: 9px;
          }
        }
      }
      .down {
        border-radius: 3%;
        width: 100%;
        aspect-ratio: 330 / 421;
        height: unset;
        top: 3%;
        left: 3%;
      }
    }
  }
  .profileRow {
    .caseCard {
      height: unset;
      .seed {
        font-size: 10px;
        width: 35px;
        height: 12px;
        padding: 3px 9px;
        gap: 5px;
        border-radius: 50px;
        margin: 12px;
        height: calc(15% - 24px);
      }
      .icon {
        width: 55%;
        height: 55%;
        aspect-ratio: 1;
        border-radius: 100px;
        margin-top: 0px;
      }
      .name {
        height: 15%;
        font-size: 10px;
        margin-top: 0px;
      }
      .dec {
        height: calc(10% + 5px);
        font-size: 6px;
        margin-top: -5px;
      }
      .link {
        height: 15%;
        position: relative;
      }
      .link > div:first-child {
        font-size: 12px;
        margin: 0px 20px;
        display: flex;
        align-items: center;
      }
      .link svg {
        align-self: center;
        margin-right: 16px;
      }
    }
  }
}
