.falling-bg-container {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  writing-mode: vertical-rl;
  text-orientation: upright;

  font-family: Poppins;
  font-size: inherit;
  line-height: 100%;
  font-style: normal;
  font-weight: lighter;
  letter-spacing: -0.3em;
  color: #fff;
  &.falling {
    -webkit-animation: loop 3s infinite linear running;
    animation: loop 3s infinite linear running;
  }
}

@keyframes loop {
  100% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }
}
