.top-banner {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  align-items: center;
}
.top-banner > svg {
  position: relative;
  width: inherit;
}

.top-title {
  font-family: Sui Generis;
  font-size: 60px;
  font-weight: 400;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 200px;
}
.top-content {
  font-family: DungGeunMo;
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
  width: max(50%, 500px);
  margin-bottom: 72px;
}
.top-banner > .top-banner {
  border-radius: 50px 50px 0px 0px;
  padding-top: 100px;
  background: border-box;
  background-color: #000;
  width: 100vw;
  margin-top: -200px;
  z-index: 20;
  height: fit-content;
  position: relative;
}
.top-banner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  z-index: 30;
}
.top-banner-bg {
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  top: 100px;
  left: 0;
  width: inherit;
  height: calc(100% - 100px);
  z-index: 0;
  filter: opacity(0.5);
}
.top-banner-bg-filter {
  background: linear-gradient(to top, #000 0%, transparent 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 30%;
  z-index: 10;
}
.join-container {
  width: inherit;
  margin-bottom: 280px;
  cursor: pointer;
}
.join {
  padding: 20px 40px;
  font-family: Sui Generis;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffff73;
  border: solid #ffff73;
  display: flex;
  gap: 40px;
  align-items: center;
  border-width: 2px 2px 2px 10px;
  left: 50%;
  position: relative;
  width: fit-content;
}
.join:hover {
  color: #fcfcb8;
  border: solid #fcfcb8;
  border-width: 2px 2px 2px 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
.topContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  .word {
    font-family: Sui Generis;
    font-size: 120px;
    font-weight: 400;
    line-height: 168px;
    letter-spacing: 0em;
    text-align: left;
    text-wrap: nowrap;
    margin-right: 30px;
  }
  .divider {
    margin-right: 30px;
    background: #9a9a9a4d;
    width: 90px;
    height: 20px;
    display: block;
  }
  .marquee-content {
    display: inline-flex;
    align-items: center;
    position: absolute;
    width: fit-content;
    top: 0;
    left: 0;
    animation-name: move;
    -webkit-animation-name: move;
    animation-duration: 136s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    height: max-content;
  }
  .marquee-content:last-of-type {
    animation-name: move2;
    -webkit-animation-name: move2;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes move {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}
@keyframes move2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes move2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 800px) {
  .topContainer {
    height: 150px;
    .word {
      font-size: 60px;
      margin-right: 15px;
    }
    .divider {
      margin-right: 15px;
      width: 45px;
      height: 10px;
    }
    .marquee-content {
      animation-duration: 78s;
    }
  }
}
