.subTitle {
  color: #fff;
  font-family: "Sui Generis";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 78px */
  z-index: 30;
  position: relative;
  margin-bottom: 60px;
  width: 84%;
  .titleBg {
    background-image: url("data:image/svg+xml,%3Csvg width='116' height='92' viewBox='0 0 116 92' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M68.2031 68.2558C55.0603 74.6168 42.1007 78.1671 31.7759 78.7696C26.6132 79.0709 22.117 78.6347 18.5884 77.4502C15.0604 76.266 12.5114 74.3384 11.2164 71.6628C9.92152 68.9873 9.99124 65.7922 11.2513 62.2906C12.5116 58.7884 14.959 54.9915 18.3984 51.1295C25.2767 43.406 36.1016 35.4449 49.2443 29.0839C62.3871 22.723 75.3467 19.1727 85.6715 18.5701C90.8343 18.2688 95.3305 18.7051 98.8591 19.8895C102.387 21.0738 104.936 23.0014 106.231 25.6769C107.526 28.3525 107.456 31.5475 106.196 35.0491C104.936 38.5514 102.488 42.3482 99.049 46.2103C92.1707 53.9338 81.3459 61.8949 68.2031 68.2558Z' stroke='white' stroke-width='0.3'/%3E%3Cpath d='M66.666 62.3652C53.5232 68.7262 40.5636 72.2765 30.2388 72.879C25.0761 73.1803 20.5799 72.7441 17.0512 71.5596C13.5233 70.3754 10.9743 68.4477 9.67933 65.7722C8.38441 63.0967 8.45413 59.9016 9.71419 56.4C10.9745 52.8978 13.4219 49.1009 16.8613 45.2389C23.7396 37.5153 34.5645 29.5543 47.7072 23.1933C60.85 16.8324 73.8096 13.282 84.1344 12.6795C89.2971 12.3782 93.7933 12.8144 97.322 13.9989C100.85 15.1832 103.399 17.1108 104.694 19.7863C105.989 22.4619 105.919 25.6569 104.659 29.1585C103.399 32.6608 100.951 36.4576 97.5119 40.3197C90.6336 48.0432 79.8087 56.0043 66.666 62.3652Z' stroke='white' stroke-width='0.3'/%3E%3C/svg%3E%0A");
    width: 110px;
    height: 91px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: -50px;
    top: -20px;
  }
}
@media screen and (max-width: 800px) {
  .subTitle {
    font-size: 30px;
    margin-bottom: 30px;
    .titleBg {
      width: 65px;
      left: -28px;
      top: -38px;
    }
  }
}
