.footer {
  display: flex;
  width: 84%;
  min-width: fit-content;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  .logo{
    background-image: url("data:image/svg+xml,%3Csvg width='505' height='37' viewBox='0 0 505 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M341.391 34.2621V3.47998H347.616V28.1978H371.477V34.2877H341.391V34.2621Z' fill='%23FFFF73'/%3E%3Cpath d='M382.495 34.2618C376.634 34.2618 374.472 32.4195 374.472 28.3511V25.7155C374.472 21.647 376.816 19.9838 382.39 19.9838H390.96C393.409 19.9838 394.503 20.4188 395.441 20.9306V18.1159C395.441 15.8386 394.138 15.3524 390.778 15.3524H376.399L376.998 10.1069H391.559C399.66 10.1069 401.458 13.5613 401.458 17.7065V34.2618C399.713 34.2618 397.733 33.3151 397.264 30.4493C396.535 32.6498 394.451 34.2618 390.804 34.2618H382.469H382.495ZM395.441 24.3594C394.373 23.95 393.174 23.6941 390.934 23.6941H383.432C381.505 23.6941 380.671 24.3082 380.671 26.3808C380.671 28.4534 381.505 29.0675 383.38 29.0675H390.882C393.096 29.0675 395.076 28.479 395.441 26.4831V24.3849V24.3594Z' fill='%23FFFF73'/%3E%3Cpath d='M418.546 34.2621C414.248 34.2621 411.956 33.0083 411.174 30.4239C410.862 33.1618 408.908 34.2621 406.98 34.2621V2.66109L413.102 0.639648V13.5871C414.43 11.0283 416.149 10.1071 419.041 10.1071H423.964C431.205 10.1071 433.602 13.2289 433.602 19.7793V24.6154C433.602 31.1403 431.205 34.2876 423.964 34.2876H418.52L418.546 34.2621ZM427.428 19.9329C427.428 16.7088 426.829 15.2759 423.964 15.2759H416.723C414.561 15.2759 413.493 15.9412 413.076 17.6044V26.0995C413.44 27.7627 414.561 29.0421 416.723 29.0421H423.964C426.543 29.0421 427.428 28.0954 427.428 24.3852V19.9073V19.9329Z' fill='%23FFFF73'/%3E%3Cpath d='M438.135 34.262C438.447 32.5732 438.734 30.8077 439.02 29.0677H456.264C457.958 29.0677 458.791 28.5815 458.791 26.5089C458.791 24.4363 457.958 23.9501 456.264 23.9501H447.148C441.469 23.9501 438.76 22.4405 438.76 18.3464V15.762C438.76 11.2842 441.521 10.0815 447.46 10.0815H464.418L463.532 15.327H447.721C446.027 15.327 445.194 15.8132 445.194 17.8347C445.194 19.8561 446.027 20.3423 447.721 20.3423H456.838C462.464 20.3423 465.225 21.9031 465.225 25.946V28.6327C465.225 33.1106 462.464 34.262 456.525 34.262H438.135Z' fill='%23FFFF73'/%3E%3Cpath d='M0 22.0822L26.934 36.9999V29.4259L9.03879 19.5234L26.934 9.72331V2.22607L0 17.067V22.0822Z' fill='%23FFFF73'/%3E%3Cpath d='M478.066 2.22607V9.72331L495.936 19.5234L478.066 29.4259V36.9999L505 22.0822V17.067L478.066 2.22607Z' fill='%23FFFF73'/%3E%3Cpath d='M74.0816 33.8528C67.0485 33.8528 64.5479 31.0893 64.5479 24.1038V3.09619H70.7213V24.1038C70.7213 26.6882 71.633 27.814 74.0816 27.814H89.5543C92.0028 27.814 92.9145 26.6882 92.9145 24.1038V3.09619H99.1401V24.1038C99.1401 31.0893 96.6134 33.8528 89.5543 33.8528H74.0816Z' fill='%23FFFF73'/%3E%3Cpath d='M125.189 33.8527V18.6023C125.189 16.1459 124.355 14.8921 121.777 14.8921H113.754C111.956 14.8921 111.123 15.6085 110.68 17.2206V33.8527H104.559V9.69775H110.446V13.1777C111.774 10.6189 113.441 9.69775 116.332 9.69775H121.777C128.992 9.69775 131.362 12.8195 131.362 19.37V33.8527H125.189Z' fill='%23FFFF73'/%3E%3Cpath d='M146.366 33.8527C139.125 33.8527 136.78 30.731 136.78 24.1805V19.3444C136.78 12.8195 139.125 9.67218 146.366 9.67218H151.237C154.181 9.67218 155.848 10.6189 157.176 13.1521V2.2773L163.35 0.255859V33.8527C161.37 33.8527 159.442 32.7268 159.156 30.0145C158.322 32.5989 156.082 33.8527 151.732 33.8527H146.34H146.366ZM157.176 17.2206C156.759 15.5574 155.691 14.8921 153.581 14.8921H146.366C143.553 14.8921 142.902 16.325 142.902 19.5491V24.027C142.902 27.7372 143.813 28.6839 146.366 28.6839H153.581C155.691 28.6839 156.838 27.379 157.176 25.7413V17.2462V17.2206Z' fill='%23FFFF73'/%3E%3Cpath d='M178.353 33.8527C172.362 33.8527 168.819 31.3962 168.819 25.3575V18.1929C168.819 12.1542 172.362 9.69775 178.353 9.69775H186.584C192.628 9.69775 196.17 12.1542 196.17 18.1929V23.8734H174.941V25.3575C174.941 27.8139 176.217 28.6583 178.353 28.6583H195.675L194.894 33.8527H178.353ZM189.997 18.5C189.997 15.9156 189.033 14.8665 186.584 14.8665H178.353C175.905 14.8665 174.941 15.89 174.941 18.1673V20.0864H189.997V18.4744V18.5Z' fill='%23FFFF73'/%3E%3Cpath d='M202.083 33.8527V14.1245H199.218L199.947 9.69779H202.057V9.0325C202.057 2.20055 206.616 0.23029 211.851 0L212.581 4.60581C209.507 4.86169 208.074 5.80844 208.074 9.26279V9.69779H213.284L212.502 14.1245H208.074V33.8527H202.031H202.083Z' fill='%23FFFF73'/%3E%3Cpath d='M216.54 7.59959V1.20264H222.766V7.59959H216.54ZM216.54 33.8527V9.6978H222.714V33.8527H216.54Z' fill='%23FFFF73'/%3E%3Cpath d='M249.023 33.8527V18.6023C249.023 16.1459 248.189 14.8921 245.611 14.8921H237.588C235.79 14.8921 234.957 15.6085 234.514 17.2206V33.8527H228.393V9.69775H234.28V13.1777C235.608 10.6189 237.275 9.69775 240.166 9.69775H245.611C252.826 9.69775 255.196 12.8195 255.196 19.37V33.8527H249.023Z' fill='%23FFFF73'/%3E%3Cpath d='M270.173 33.8527C264.182 33.8527 260.64 31.3962 260.64 25.3575V18.1929C260.64 12.1542 264.182 9.69775 270.173 9.69775H278.405C284.448 9.69775 287.99 12.1542 287.99 18.1929V23.8734H266.761V25.3575C266.761 27.8139 268.037 28.6583 270.173 28.6583H287.496L286.714 33.8527H270.173ZM281.817 18.5C281.817 15.9156 280.853 14.8665 278.405 14.8665H270.173C267.725 14.8665 266.761 15.89 266.761 18.1673V20.0864H281.817V18.4744V18.5Z' fill='%23FFFF73'/%3E%3Cpath d='M302.864 33.8527C295.623 33.8527 293.278 30.731 293.278 24.1805V19.3444C293.278 12.8195 295.623 9.67218 302.864 9.67218H307.735C310.679 9.67218 312.346 10.6189 313.674 13.1521V2.2773L319.848 0.255859V33.8527C317.868 33.8527 315.94 32.7268 315.654 30.0145C314.82 32.5989 312.58 33.8527 308.23 33.8527H302.838H302.864ZM313.674 17.2206C313.257 15.5574 312.189 14.8921 310.08 14.8921H302.864C300.051 14.8921 299.4 16.325 299.4 19.5491V24.027C299.4 27.7372 300.311 28.6839 302.864 28.6839H310.08C312.189 28.6839 313.336 27.379 313.674 25.7413V17.2462V17.2206Z' fill='%23FFFF73'/%3E%3Cpath d='M47.9293 4.1709L35.6865 36.0789H43.2666L55.6135 4.1709H47.9293Z' fill='%23FFFF73'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    width:100%;
    max-width: 505px;
    height: 198px;
    background-position: center;
  }
  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: fit-content;
    width: 39%;
    .tab {
      color: #fff;
      font-family: "Sui Generis";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 130.02%; /* 20.803px */
      display: flex;
      margin-left: 10px;
      flex-direction: row;
      width: fit-content;
    }
    .num {
      width: fit-content;
      height: fit-content;
      padding: 1px 5.6px;
      flex-shrink: 0;
      border-radius: 100px;
      background: #fff;
      color: #131415;
      font-family: "Sui Generis";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130.02%; /* 14.302px */
      margin-left: 4.62px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .tabPart,
    .iconPart {
      display: flex;
      align-items: center;
      justify-content: space-between;
        >*{
        cursor: pointer;
     
      }
      margin-left: 10px;
    }
    .iconPart {
      width: 11%;
      min-width: fit-content;
      >*{
            font-size: 20px;
          color: "#fff";
          width: 20px;
          height: 20px;
      }
      > *:not(:last-child) {
        margin-right: 10px;
      }
      .medium{
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='14' viewBox='0 0 24 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_103_521)'%3E%3Cpath d='M13.2975 4.94952C12.858 3.49516 12.0483 2.30571 10.8643 1.39181C9.99049 0.717288 9.01224 0.27683 7.92853 0.107668C7.58625 0.0544722 7.23983 0.0204271 6.89445 0.00340451C6.65971 -0.0082985 6.42187 0.0119158 6.18817 0.0374497C5.90069 0.0683031 5.61115 0.101284 5.32988 0.166183C4.24823 0.41301 3.27723 0.900281 2.42825 1.63544C1.22354 2.67914 0.468662 4.00477 0.131551 5.58149C0.0498589 5.96556 -0.00391335 6.35814 0.000222974 6.75498C0.000222974 6.91882 0.000222974 7.08267 0.000222974 7.24651C0.00746155 7.36354 0.0115979 7.4795 0.0209046 7.59653C0.0529611 8.00827 0.121211 8.41362 0.227721 8.81152C0.629979 10.318 1.42829 11.5543 2.62059 12.5203C3.36409 13.1225 4.20376 13.531 5.11479 13.7821C5.32781 13.8406 5.54807 13.8789 5.7673 13.9098C6.04753 13.9491 6.3288 13.9864 6.61111 13.997C6.84584 14.0066 7.08161 13.9747 7.31635 13.9662C7.68759 13.9513 8.05055 13.8842 8.40834 13.7928C9.75989 13.447 10.9088 12.7469 11.8415 11.683C12.5819 10.8393 13.0927 9.86692 13.3688 8.76258C13.4971 8.24978 13.5746 7.73165 13.5891 7.20502C13.5984 6.88478 13.5819 6.56241 13.5529 6.24324C13.5126 5.80385 13.4226 5.3719 13.2944 4.94952H13.2975Z' fill='white'/%3E%3Cpath d='M21.0041 5.54612C20.9348 4.98331 20.8324 4.42795 20.6814 3.88216C20.486 3.17466 20.2182 2.49801 19.8293 1.87775C19.516 1.37771 19.1396 0.939382 18.6329 0.637231C18.1965 0.376573 17.7291 0.276565 17.2286 0.377637C16.7571 0.472325 16.3641 0.72128 16.0239 1.05854C15.2173 1.8586 14.7965 2.87996 14.4966 3.96195C14.3911 4.3439 14.3249 4.73861 14.2577 5.13013C14.205 5.4376 14.1698 5.74826 14.1429 6.05892C14.1222 6.29511 14.1264 6.53342 14.1191 6.77068C14.1191 6.92813 14.1191 7.08666 14.1191 7.24412C14.1315 7.50477 14.1388 7.76543 14.1595 8.02503C14.1802 8.28569 14.2101 8.54528 14.2474 8.80381C14.3167 9.29321 14.419 9.77516 14.5597 10.2486C14.7044 10.7348 14.8792 11.2072 15.1119 11.6562C15.4159 12.2434 15.7861 12.7775 16.3114 13.1818C16.6444 13.4382 17.0156 13.6116 17.4282 13.6489C17.6412 13.668 17.8656 13.6361 18.0755 13.5861C18.5822 13.4659 18.9845 13.1563 19.334 12.7722C19.8056 12.253 20.1344 11.6423 20.3898 10.987C20.6308 10.3709 20.8034 9.7358 20.9006 9.0783C20.9503 8.7421 21.003 8.40697 21.0382 8.06971C21.0651 7.81437 21.0671 7.55584 21.0795 7.29838V6.68024C21.0671 6.48023 21.0547 6.28128 21.0413 6.08126C21.0289 5.90253 21.0247 5.72272 21.002 5.54505L21.0041 5.54612Z' fill='white'/%3E%3Cpath d='M23.9839 6.32177C23.9777 6.00366 23.9643 5.68662 23.9519 5.36851C23.9467 5.23126 23.9415 5.09296 23.9302 4.95571C23.9105 4.73016 23.8847 4.50568 23.8619 4.28119C23.8433 4.10139 23.8319 3.91946 23.8019 3.74073C23.7451 3.39602 23.6778 3.05344 23.6168 2.7098C23.5496 2.33743 23.4452 1.9757 23.2994 1.6278C23.2177 1.4331 23.1225 1.24692 22.9623 1.10542C22.8237 0.982005 22.6644 0.974558 22.53 1.10329C22.4452 1.18415 22.3677 1.27884 22.3108 1.38204C22.0016 1.94059 21.8816 2.56191 21.771 3.18324C21.7069 3.53965 21.6634 3.90138 21.6241 4.26204C21.5818 4.65569 21.5507 5.05146 21.5228 5.44724C21.5042 5.70683 21.497 5.96749 21.4887 6.22815C21.4825 6.42072 21.4835 6.61435 21.4814 6.80798C21.4814 6.94097 21.4814 7.07502 21.4814 7.20801C21.4887 7.5091 21.4918 7.80912 21.5042 8.11021C21.5166 8.41236 21.5363 8.71344 21.5559 9.01453C21.5704 9.22731 21.588 9.44116 21.6107 9.65394C21.6417 9.94758 21.6717 10.2423 21.7172 10.5338C21.7575 10.7934 21.8072 11.053 21.8723 11.3073C21.9561 11.6371 22.0512 11.9658 22.1577 12.2892C22.2281 12.5031 22.3356 12.701 22.4959 12.8627C22.6386 13.0063 22.8475 13.0127 22.9871 12.8627C23.0491 12.7957 23.1091 12.7233 23.1567 12.6446C23.3614 12.3052 23.469 11.9254 23.561 11.5424C23.6251 11.2732 23.6747 10.9998 23.7202 10.7274C23.773 10.4114 23.8226 10.0955 23.8598 9.77735C23.8981 9.44967 23.925 9.11986 23.9477 8.79005C23.9674 8.50598 23.9746 8.22192 23.987 7.93679C23.9922 7.82933 24.0015 7.72188 24.0005 7.61442C23.9974 7.18354 23.9932 6.75372 23.9839 6.32284V6.32177Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_103_521'%3E%3Crect width='24' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
    .tabPart {
      min-width: fit-content;
      width: 40%;
    }
  }
}

@media screen and (max-width: 800px) {
.footer {
  width: 96%;
  .logo{
    height: 99px;
  }
  .right {
    .tab {
      font-size: 10px;
      margin-left: 5px;
    }
    .num {
      padding: 0.5px 2.6px;
      font-size: 8px;
      margin-left: 3px;
    }

    .iconPart {
      > *:not(:last-child) {
        margin-right: 5px;
      }
         >*{
            font-size: 10px;
          width: 10px;
          height: 10px;
      }
    
    }
  }
}
}
