html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  background-color: black;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
}

#root .content {
  height: 100%;
  flex: 1 1;
  display: flex;
  align-items: center;
}
@font-face {
  font-family: "Sui Generis";
  src: url(../public/assets/font/sui\ generis\ rg.otf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DungGeunMo";
  src: url(../public/assets/font/DungGeunMoRegular.woff.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../public/assets/font/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
