html, body, #root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  display: flex;
  flex-direction: column;
}

#root .content {
  height: 100%;
  flex: 1 1;
  display: flex;
  align-items: center;
}
@font-face {
  font-family: 'Sui Generis';
  src: url(../public/assets/font/sui\ generis\ rg.otf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DungGeunMo';
  src: url(../public/assets/font/DungGeunMoRegular.woff.ttf);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.subTitle{
  color: #FFF;
font-family: "Sui Generis";
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 78px */
z-index: 30;
    position: relative;
margin-bottom: 60px;
}