html, body, #root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: black;
}

#root {
  display: flex;
  flex-direction: column;
}

#root .content {
  height: 100%;
  flex: 1 1;
  display: flex;
  align-items: center;
}
